!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bookstore
    %meta{name: "viewport", content: "width=device-width"}
    %link{href: "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600", rel: "stylesheet"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'
    - if flash.any?
      %p.notice= notice
      %p.alert= alert
    = yield
    = render 'layouts/footer'
  %script{src: "https://use.fontawesome.com/67602d7308.js"}
